<div class="w-full px-4 lg:container lg:mx-auto py-3">
	<div class="flex sm:hidden justify-between items-center">
		<div class="font-bold text-3xl">
			<a href="/">CertPulse</a>
		</div>
		<div>
			<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
				stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7"></path>
			</svg>
		</div>
	</div>
	<div class="hidden sm:flex justify-between items-center">
		<div class="flex gap-10">
			<div class="font-bold text-3xl">
				<a href="/">CertPulse</a>
			</div>
			<div class="flex space-x-10 items-end font-semibold">
				<a class="link link-hover" href="/pricing">Pricing</a>
			</div>
		</div>
		<div>
			{% if user %}
			<ul class="menu menu-horizontal px-1">
				<li>
					<details class="z-50">
						<summary>
							{{ user.Email }}
						</summary>
						<ul class="p-2 bg-base-800">
							<li><a href="/domains">Domains</a></li>
							<li><a href="/account">Account</a></li>
							<li><a href="/signout">Sign out</a></li>
						</ul>
					</details>
				</li>
			</ul>
			{% else %}
			<a class="btn btn-neutral mr-4" href="/signin">Sign in</a>
			<a class="btn btn-info" href="/pricing">Sign up for free</a>
			{% endif %}
		</div>
	</div>
</div>