<div class="w-64">
	<ul class="menu border-r input-default pl-0 pt-0">
		<li><a class="{{activeFor('/domains')}}" href="/domains">Domains</a></li>
		<li><a class="{{activeFor('/domains/new')}}" href="/domains/new">Add domains</a></li>
		<li><a class="{{activeFor('/account')}}" href="/account">Account</a></li>
		<li><a class="{{activeFor('/account/notifications')}}" href="/account">Notifications</a></li>
		<li><a class="{{activeFor('/integrations')}}" href="/integrations">Integrations</a></li>
		<li><a href="/signout">Sign out</a></li>
	</ul>
</div>