{% extends "partials/app_base.html" %}

{% block pageContent %}
<h1 class="font-semibold uppercase">Integrations</h1>
<div class="mt-6 border-t border-base-200">
	<dl class="divide-y divide-base-200">
		<div class="px-4 py-4 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
			<dt class="text-sm font-medium leading-6 flex flex-wrap space-x-4">
				<div>
					<img class="rounded-lg h-6" src="/static/assets/slack_logo_small.png" />
				</div>
				<div>
					Slack
				</div>
			</dt>
			<dd class="mt-1 text-sm leading-6 sm:col-span-2 sm:mt-0">
				{% if isSlackConnected %}
				<a class="float-right btn btn-error btn-sm" href="#">Disconnect</a>
				{% else %}
				<a href="{{ slackConnectURL }}" class="float-right btn btn-outline btn-neutral btn-sm">connect</a>
				{% endif %}
			</dd>
		</div>

	</dl>
</div>
{% endblock %}